:root {
  --bg: #0f172a;
  --side-panel-size: 300px;
  --side-panel-bg: #1e293b;
  --toggle-button-active: #0c4a6e;
  --button-bg: #334155;
  --fill-color: #ced4da;
  --spacing: 16px;
  --padding: 16px;
  --color-accent: white;
  --button-gray-1: #363636;
  --button-gray-2: #272727;
  --button-gray-3: #222;
  --canvas-bg: #1e293b;
}

*::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 10px;
}

*::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

*::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: black;
}

* {
  margin: 0;
  border: none;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*[hidden],
*.invisible {
  visibility: hidden;
}
html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg);
  color: var(--fill-color);
  font-size: 100%;
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  padding: var(--padding);
  overflow: hidden;
}

.toolbar {
  height: 56px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  background: var(--side-panel-bg);
  padding: var(--padding);
}

.file-input {
  opacity: 0;
  pointer-events: none;
  user-select: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.main {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: var(--spacing);
}

button {
  font-size: 0.875rem;
  font-weight: 500;
  padding: 4px 12px;
  border-radius: 4px;
  background-color: var(--button-bg);
  color: var(--fill-color);
  cursor: pointer;
  transition: all 0.3s ease, outline 0s ease;
  user-select: none;
  pointer-events: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: fit-content;
}
button.secondary {
  background: transparent;
  border-width: 1px;
  border-style: solid;
}
button.small-icon {
  padding: 0;
  width: 24px;
  height: 24px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
button:hover {
  opacity: 0.7;
}
button:active {
  opacity: 1;
}
button:disabled {
  pointer-events: none;
  opacity: 0.5;
}

.side-panel {
  width: var(--side-panel-size);
  position: relative;
  background-color: var(--side-panel-bg);
  height: 100%;
  max-height: min(100vh - 104px);
  padding: var(--padding);
  border-radius: 4px;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  z-index: 10;
  min-height: 0;
}
.side-panel:not(.hidden) {
  overflow-y: auto;
}

.side-panel > * {
  transition: all 0.2s ease;
}

.side-panel__toggle {
  outline-color: rgb(255 255 255 / 40%);
  outline-style: solid;
  outline-width: 0px;
  background-color: var(--toggle-button-active);
  margin-left: auto;
}

.side-panel__toggle--images {
  margin-right: auto;
  margin-left: unset;
}

.side-panel.hidden {
  width: 0;
  padding-left: 0;
  padding-right: 0;
  background: transparent;
  pointer-events: none;
  margin-left: -16px;
}
.side-panel.hidden > * {
  opacity: 0;
}
.side-panel.side-panel--images.hidden {
  margin-left: unset;
  margin-right: min(0px - var(--spacing));
}

.side-panel.hidden .side-panel__toggle {
  white-space: nowrap;
  background-color: var(--button-bg);
  opacity: 0.7;
}
.side-panel.hidden .side-panel__toggle:hover {
  outline-width: 2px;
  opacity: 1;
}
.side-panel.hidden .side-panel__toggle {
  transform: translateX(min(-100% - var(--spacing)));
}
.side-panel--images.hidden .side-panel__toggle {
  transform: translateX(16px);
}

@media (max-width: 639px) {
  .side-panel {
    position: absolute;
    top: min(56px + 32px);
    max-height: 50vh;
    box-shadow: 0 0 1px #fff, 0 0 3px #fff, 0 0 7px #0ba9ca, 0 0 2px #184953,
      0 0 1px #0ba9ca, 0 0 3px #0ba9ca;
    padding: 0;
    gap: 0;
    z-index: 9999;
  }
  .side-panel--annotations {
    right: 24px;
    background-color: rgb(30 41 59 / 70%);
  }
  .side-panel--images {
    left: 24px;
  }
  .side-panel__toggle {
    margin: 12px;
    pointer-events: auto;
  }
  .side-panel__toggle--images.side-panel__toggle--images.side-panel__toggle--images {
    transform: translateX(4px);
    margin: 12px 0;
  }
  .side-panel__toggle--annotations {
    margin-left: auto;
  }
  .annotation-list-container,
  .image-list-container {
    flex: 1;
    padding: 16px;
    overflow: auto;
    gap: 16px;
  }
  .image-list-item {
    max-width: min(50% - 8px);
    pointer-events: auto;
  }
  .annotation-list-item {
    pointer-events: auto;
  }
}

.image-section {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
}

.canvas-container {
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.canvas-container,
.canvas-container canvas {
  background-color: var(--canvas-bg);
  border-radius: 4px;
}

.canvas-container canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}

.action-buttons {
  display: flex;
  gap: 12px;
  justify-content: flex-end;
}

.image-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 8px;
  border-radius: 4px;
  background: var(--side-panel-bg);
}

.file-name {
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 0.875rem;
  width: 200px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.image-list-container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing);
}
.image-list-item {
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: var(--bg);
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.2s ease;
  opacity: 0.7;
  /* animation: fadeInImage ease forwards; */
}

.image-list-item img {
  max-width: 100%;
  max-height: 100%;
  transform: scale(0.7);
  transition: transform 0.3s ease;
}
.image-list-item:hover {
  opacity: 1;
}
.image-list-item.active {
  outline: 3px solid hsl(0, 0%, 100%, 1);
  opacity: 1;
}

.image-list-item:hover img {
  transform: scale(0.85);
}
.image-list-item.active img {
  transform: scale(1);
}

.annotation-list-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.annotation-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  background: var(--bg);
  border-radius: 8px;
  transition: all 0.3s ease;
  /* animation: fadeInAnnotation 0.3s ease forwards; */
}
.annotation-list-item.highlight {
  box-shadow: 0 0 2px #fff, 0 0 3px #fff, 0 0 20px #0ba9ca, 0 0 2px #0ba9ca,
    0 0 3px #0ba9ca, 0 0 8px #0ba9ca;
}

.editor {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  user-select: none;
  z-index: 10;
  overflow: hidden;
}
.mouse-position {
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(400px, 400px);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 1px;
  height: 1px;
  transition: all 0.01s ease;
  pointer-events: none;
}
.image-offset {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 8px;
  white-space: nowrap;
  padding: 8px 12px;
  background: rgb(0 0 0 / 60%);
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
  pointer-events: none;
  z-index: 10;
}
.reset-image-position {
  position: absolute;
  bottom: -36px;
  left: 50%;
  transform: translateX(-50%);
}
.mouse-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
  position: absolute;
}
.mouse-coordinates {
  position: absolute;
  right: -24px;
  bottom: -24px;
  transform: translate(100%, 100%);
  white-space: nowrap;
  padding: 8px 12px;
  background: rgb(0 0 0 / 60%);
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
}

.mouse-line {
  --dot-line-spacing: -32px;
  position: absolute;
  background: white;
  border-radius: 10px;
  opacity: 0.8;
}
.mouse-line.top {
  top: var(--dot-line-spacing);
  transform: translateY(-100%);
}
.mouse-line.bottom {
  bottom: var(--dot-line-spacing);
  transform: translateY(100%);
}
.mouse-line.left {
  left: var(--dot-line-spacing);
  transform: translateX(-100%);
}
.mouse-line.right {
  right: var(--dot-line-spacing);
  transform: translateX(100%);
}
.mouse-line.top,
.mouse-line.bottom {
  width: 3px;
}
.mouse-line.left,
.mouse-line.right {
  height: 3px;
}

.label-input {
  padding: 8px 12px;
  border-radius: 4px;
  background: rgb(255 255 255 / 5%);
  color: #fff;
  opacity: 0.6;
  transition: all 0.15s ease;
}
.label-input:focus-visible {
  opacity: 1;
  outline: 2px solid white;
}

/* @keyframes fadeInAnnotation {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInImage {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
} */
